@charset utf-8;

/*Default styles starts here - By Li Anne*/
:root {
  --main-bg-color: white;
  --secondary-bg-color: red;
}

body {
    background-color: var(--main-bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Black Han Sans', sans-serif;
}

h1 {
    font-size: 72px;
}

.nav-link-color a {
    color: #CEAA80;
}

.card-size {
   min-width: 250px !important;
}
.card-height {
    height: 420px;
    overflow: hidden;
}

/*Default styles ends here*/

.bg-beige {
    background-color: var(--main-bg-color);
}

.bg-nav {
    background-color: #F2D699;
}

.navbar-toggler {
  padding: 0.25rem;
  border: 2px solid black !important;
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
}

.navbar-toggler-icon {
  background-image: url(../images/navbar-icon.svg) !important;
}

footer1 {
    text-align: center;
    padding: 20px;
    background-color: #F2D699;
    color: #362209;
}

.banner-height { height: 500px;}

.button-color { 
    background-color: #E8BA46;
    color: #362209;
}

.button-color1 { 
    background-color: #F2D699;
    color: #362209;
}

heading1 { 
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: #362209;
}

heading1-1 { 
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    color: #362209;
}

heading2-1{
    font-family: 'Concert One', cursive;
    font-size: 50px;
    color: #362209;
}

.heading2 {
    font-family: 'Concert One', cursive;
    font-size: 30px;
    color: #362209;
}

.heading3 {
    font-family: 'Concert One', cursive;
    font-size: 25px;
    color: #362209;
}

.fonttitle { 
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #362209;
}

search-container {
  float: left;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #F2D699;
   color: #362209;
   text-align: center;
   padding: 20px;
}

.bg-profile {
    background-color: #E8BA46;
}

.btn:hover {
    color: #E8BA46;
    background-color: #fffdd0ff;
}

.borderimg img{
    border-radius: 50%;
    border: 4px;
}
